body {
    background-color: var(--background-primary);
}

#app {
    width: 100%;
    max-width: 80rem;
    overflow: visible;
}

header {
    margin-block: 2.75rem;
    margin-inline: auto;
    width: 100%;
    max-width: 80rem;
    display: flex;

    & div {
        margin-inline: auto;
        display: flex;
        gap: .8125rem;

        & svg {
            width: 2.125rem;
            height: 2.125rem;

        }


        & h1 {

            font: 800 1.5rem/130% var(--sora);
            color: var(--content-primary);
        }
    }

}


main {
    padding-inline: 2.25rem;
    width: 100%;
    max-width: 80rem;

    & .title {
        display: flex;
        flex-direction: column;
        margin-bottom: 2.625rem;

        & .h3 {
            background: linear-gradient(90deg,
                    var(--content-secondary), var(--background-gray));
            background-clip: text;
            -webkit-background-clip: text;
            gap: .5rem;

            & h3 {

                font: var(--overline);
                color: transparent;
                text-transform: uppercase;
            }
        }



        & h1 {


            color: var(--content-primary);
            font: var(--display-md);
            text-transform: uppercase;

        }




    }

   
}






@media(width >=80rem) {
    * {
        margin-inline: 0;
    }

    body {
        width: 100%;
        display: flex;
        justify-content: center;


    }

    header {
        justify-content: left;
        margin-inline: 7.5rem;
        margin-left: 9.5rem;
        margin-top: 4.75rem;
        margin-bottom: 5.56rem;


        & div {
            margin-inline: 0;
            display: flex;
            gap: .8125rem;

            & svg {
                width: 2.125rem;
                height: 2.125rem;

            }


        }
    }


    main {
        margin-inline: 8.375rem;

        width: 100%;
        max-width: 80rem;

        & .title {
            display: flex;
            flex-direction: column;
            gap: .875rem;

            & .h3 {
                background: linear-gradient(90deg,
                        var(--content-secondary), var(--background-gray));
                background-clip: text;
                -webkit-background-clip: text;
                gap: .5rem;

                & h3 {

                    font: var(--overline);
                    color: transparent;
                    text-transform: uppercase;
                }
            }



            & h1 {


                color: var(--content-primary);
                font: var(--display-lg);
                text-transform: uppercase;

            }




        }

        & .sort {
            & h2 {}

            & p {}
        }
    }
}

@media (width >= 80){


  
}